@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body{
  font-family:'Inter',sans-serif;
  background:#29292b;
  color:white;
}

/* MAIN BG */

.min-h-screen{
  background:
    radial-gradient(circle at top left,
      rgba(97, 98, 100, 0.15),
      transparent 30%),

    radial-gradient(circle at bottom right,
      rgba(65, 63, 66, 0.12),
      transparent 30%),

    #c5e3f1 !important;
}

/* HEADER */

h1{
  font-weight:800 !important;

  background:linear-gradient(
    to right,
    #3d4855,
    #675a8f,
    #ca7505
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

h2{
  background:linear-gradient(
    to right,
    rgb(65, 53, 53),
    #161d24
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

/* GLASS CARD */

.bg-slate-900{
  background:rgba(15,23,42,0.72) !important;

  backdrop-filter:blur(18px);

  border:1px solid rgba(255,255,255,0.08) !important;

  box-shadow:
    0 10px 40px rgba(0,0,0,0.4);

  transition:0.4s;
}

.bg-slate-900:hover{
  transform:translateY(-3px);
}

/* INPUT */

input{
  transition:0.3s !important;
}

input:focus{
  border-color:#60a5fa !important;

  box-shadow:
    0 0 0 4px rgba(96,165,250,0.2);
}

/* DROPZONE */

.border-dashed{
  background:rgba(15,23,42,0.5);

  transition:0.35s !important;
}

.border-dashed:hover{
  border-color:#3b82f6 !important;

  transform:translateY(-3px);

  background:rgba(30,41,59,0.8);
}

/* BUTTON */

button{
  background:linear-gradient(
    135deg,
    #7977ee,
    #f5a961
  ) !important;

  transition:0.3s !important;

  box-shadow:
    0 10px 30px rgba(32, 47, 71, 0.137);
}

button:hover{
  transform:translateY(-3px);

  box-shadow:
    0 20px 40px rgba(59,130,246,0.45);
}

/* PROGRESS */

.bg-blue-500{
  background:linear-gradient(
    90deg,
    #3b82f6,
    #8b5cf6
  ) !important;
}

/* IMAGES */

img{
  transition:0.4s;
}

img:hover{
  transform:scale(1.03);

  box-shadow:
    0 20px 40px rgba(0,0,0,0.45);
}

/* SCROLLBAR */

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#0f172a;
}

::-webkit-scrollbar-thumb{
  background:#334155;
  border-radius:999px;
}